@using GastoEnergetico.ViewModel.Itens
@using GastoEnergetico.ViewModel.Parametros
@model GastoEnergetico.ViewModel.Itens.IndexViewModel

@{
    ViewData["Title"] = "Itens";
}
<h1>@ViewData["Title"]</h1>

<a href="Itens/Adiconar">Adicionar Item</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Categoria</th>
      <th scope="col">Data Fabricação</th>
      <th scope="col">Consumo Watts</th>
      <th scope="col">Horas Uso Diário</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
  @foreach (Item i in @Model.Items)
  {
    <tr>
      <th scope="row">@i.Id</th>
      <td>@i.Nome</td>
      <td>@i.Descricao</td>
      <td>@i.Categoria</td>
      <td>@i.DataFabricacao</td>
      <td>@i.ConsumoWatts</td>
      <td>@i.HorasUsoDiario</td>
      <td>
        <a href="Itens/Editar/@i.Id">Editar</a>
        <a href="Itens/Remover/@i.Id">Remover</a>
      </td>
    </tr>
  }
  

  </tbody>
</table>