@using GastoEnergetico.ViewModel.Parametros
@model GastoEnergetico.ViewModel.Parametros.IndexViewModel

@{
    ViewData["Title"] = "Parâmetros";
}
<h1>@ViewData["Title"]</h1>

<a href="/Parametros/Adiconar">Adicionar Parâmetro</a>

<table class="table table-hover">
  <thead>
    <tr class=" text-center">
      <th scope="col">#</th>
      <th scope="col">Valor R$/kWh</th>
      <th scope="col">Faixa Consumo Alto</th>
      <th scope="col">Faixa Consumo Médio</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Parametro p in @Model.Parametros)
    {
      <tr class="text-center">
        <th scope="row">@p.Id</th>
        <td>@p.ValorKwh</td>
        <td>@p.FaixaConsumoAlto</td>
        <td>@p.FaixaConsumoMedio</td>
        <td>
          <a href="/Parametros/Editar/@p.Id">Editar</a>
          <a href="/Parametros/Remover/@p.Id">Remover</a>
        </td>
      </tr>
    }
    
    
  </tbody>
</table>